{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/4.2/ref/contrib/humanize -->
{% block content %}

<style>
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
</style>
<!-- Loading overlay -->
{% if ad.content_type %}
<div id="overlay" class="overlay" style="text-align: center;"
   onclick="document.getElementById('overlay').style.display = 'none';" >
<img style="width:90%;margin-top: 50px; border:3px solid black;" src="{% url 'mkt:ad_picture' ad.id %}">
</div>
{% endif %}

<span style="float: right;">
({{ ad.updated_at|naturaltime }})
{% if ad.owner == user %}
<a href="{% url 'mkt:update' ad.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'mkt:delete' ad.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ ad.title }}</h1>


<!-- Loading Image -->
{% if ad.content_type %}
<img style="float:right; max-width:50%;" src="{% url 'mkt:ad_picture' ad.id %}"
    onclick="document.getElementById('overlay').style.display = 'block';">
{% endif %}

<p>
{{ ad.text }}
</p>
<p>
    Price: {{ad.price}}
</p>
<p>
<a href="{% url 'mkt:all' %}">All Ads</a>
</p>
{% endblock %}
