
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#link{
     text-align: center;
}
#link a{
    background-color: #0a4b33;
    padding : 5px;
    text-align: center;
    color: white;
    text-decoration: none;
}
div {
    padding:5px;   
    width: 25%;
    margin: 5px;
    position: fixed;
}
#one {
    border: 5px solid blue;
    bottom: 20px;
    left: 10px;
}
#two {
    border: 5px solid yellow;
    bottom: 20px;
    right:10px;
}
#three {
    border: 5px solid orange;
    top: 20px;
    left: 10px;
}

#four {
    border: 5px solid green;
    top: 20px;
    right: 10px;
}